
.footer {

    text-align: center;
    border-top: 1px solid #ddd;
    bottom: 0;
}

.footer-main-text {
    font-size: 1.1em;
    color: #333;
}

.footer-secondary-text {
    font-size: 0.9em;
}

.footer-contact,
.footer-address {
    font-size: 0.85em;

}
